NEXT_PUBLIC_SUPABASE_URL=https://nffpwdjiooadeeijgmrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5mZnB3ZGppb29hZGVlaWpnbXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MjExODcsImV4cCI6MjA4OTA5NzE4N30.YSTUnii4Oz2NYbh1t55IOVFaDuE1jJsWrFEnY0IHvS8